<!DOCTYPE html>
<html>
<head>
  <title>Checkout</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header class="navbar">
  <h2>Checkout</h2>
</header>

<div style="padding:40px;background:#1B263B;border-radius:15px;margin:40px;">
  <h3>Delivery Address</h3>
  <input placeholder="Name"><br><br>
  <input placeholder="Phone"><br><br>
  <textarea placeholder="Address"></textarea><br><br>
  <button class="btn-buy">Proceed to Pay</button>
</div>

</body>
</html>